._btn:focus {
    outline: 0;
}


/* home page */

.banner {
    background: url("https://cdn.chaldal.net/asset/Egg.Grocery.Fabric/Egg.Grocery.Web/1.5.0+Release-1217/Default/stores/chaldal/components/landingPage2/LandingPage/images/landingBannerTop.jpg");
    background-size: cover;
    height: 350px;
    width: 95%;
    margin-top: 10px;
    position: relative;
    margin: 0 auto;
}

.banner-search {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: #000;
    z-index: 1;
}

.banner-searchBar {
    display: flex;
    flex: 1;
    margin: auto;
    text-align: center;
    background-color: white;
    padding: 6px;
    border: 2px solid black;
    border-radius: 40px;
}

.banner-searchBar>input {
    width: 100%;
    border: none;
    border-radius: 5px;
    margin: 0;
    padding: 0 4px;
}

.banner-searchBar>input:focus {
    outline: none;
}

.banner-searchBar .icon {
    font-size: 30px;
}

.poster-banner {
    display: flex;
    width: 95%;
    margin: 0 auto;
}

.poster-banner>img {
    margin-top: 10px;
    width: 48%;
}

.carousel-a {
    width: 95%;
    padding-top: 40px;
    margin: 0 auto;
}

.carousel-inner {
    text-align: center;
}

.carousel-inner>h4 {
    padding-bottom: 20px;
}

Carousel>img {
    width: 100%;
    display: block;
}